# compiled binaries
client
server
test

# object files from src/
obj/
*.o

# exception: lib/ has no source files
!lib/*.o

# database files
.pwdman.db
.pwdman_test.db

# dot files and dot directories
.*
!.gitignore

# internal build helper
objs_refresh.sh